.header_logo {
    margin: auto 0;
    top: 0;
}

.logo_one {
    width: 32px;
    height: 32px;
    position: relative;
    fill: #9C0;
    margin-right: 8px;
}

.logo_two {
    transition: width .5s, opacity .5s;
    width: 0;
    opacity: 0;
    height: 32px;
    margin-right: 10px;
    fill: #9C0;
    overflow: hidden;
}

.logo_two_show{
    composes: logo_two;
    width: 118px;
    opacity: 1;
}

@media screen and (max-width: 1150px) {
    .logo_two {
        display: none;
    }
}