.footer_container {
    width: 100%;
    background: #373737;
}

.footer {
    max-width: 1440px;
    margin: 0 auto;
    height: 430px;
    position: relative;
    padding: 30px 40px 60px;
    box-sizing: border-box;
    vertical-align: baseline;
}

@media screen and (max-width: 768px) {
    .footer {
        height: 819px;
    }
}