* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
  font:400 10px CoreSans, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #262626;

}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

h1, h2 {
  font-family: Oswald,sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

li {
 list-style: none;
}

div, section {
  box-sizing: border-box;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}